
.header{
    background-color: black;
    color:white;
    text-align:center;
    margin: 0px;
}

.header{
    padding: 10px;
}

html{
    margin: 0px;
    padding: 0px;
}

.facts-container{
    display: flex;
    justify-content:center;
    padding:10px;
    background-size:100%;
}

.card{
    width: 100%;
}
